---
import Layout from "../layouts/Layout.astro";
import ProductCard from "../components/ProductCard.astro";

const fashionUrl = "https://kea-alt-del.dk/t7/api/products";
const data = await fetch(fashionUrl).then((res) => res.json());
---

<Layout>
  <main class="product-list">
    {data.map((product) => <ProductCard product={product} />)}
  </main>
</Layout>

<style>
  .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2rem;
    padding: 2rem;
    margin: 2rem;
    margin-top: 0;
  }

  @media (max-width: 768px) {
    .product-list {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 1rem;
      padding: 1rem;
      margin: 1rem;
    }
  }

  @media (max-width: 480px) {
    .product-list {
      grid-template-columns: 1fr;
    }
  }
</style>
