<header class="mainNav">
  <a href="index.html" class="logo">
    <h1>Fashion<span>R</span>Us</h1>
  </a>
  <nav>
    <ul>
      <li><a href="index.html">Categories</a></li>
      <li><a href="#">Brands</a></li>
      <li><a href="#">Seasons</a></li>
    </ul>
  </nav>
</header>

<style>
  .mainNav {
    background-color: rgb(26, 21, 21);
    padding: 10px 20px;
    z-index: 99;
    position: sticky;
    top: 0;
    box-shadow: 0px 10px 10px 0px rgba(54, 47, 47, 0.75);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo h1 {
    color: white;
    margin: 0;
    font-size: 24px;
  }

  nav ul {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 0;
    margin: 0;
  }

  nav ul li {
    list-style: none;
  }

  nav ul li a {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    transition: color 0.3s ease;
  }

  nav ul li a:hover {
    color: lightgray;
  }
</style>
