---
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>

  <style>
    html,
    body {
      margin: 0;
      width: 100%;
      height: 100%;
    }

    @font-face {
      font-family: "Roboto";
      src: url("fonts/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf")
        format("woff");
    }

    @font-face {
      font-family: "Yrsa";
      src:
        url("fonts/Yrsa-Italic-VariableFont_wght.ttf") format("woff2"),
        url("fonts/Yrsa-VariableFont_wght.ttf") format("opentype");
      font-style: normal;
    }

    a {
      text-decoration: none;
      color: white;
      font-size: 20px;
      font-family: Yrsa;
    }

    p,
    dl {
      font-family: Yrsa;
      color: white;
    }

    h1,
    h2,
    h3 {
      font-family: Roboto;
      color: white;
    }

    body {
      background-color: rgb(78, 76, 76);
    }
  </style>
</html>
